.carousel-item {
    height: 100%h;
    width: 100%;
    object-fit: cover;
    
    
    
}
.carousel-item img {
    height: 60vh;
    width: 100%;
    object-fit: cover;

}
.CONTACTO{
    text-align: $espaciado-estandar; 
    background-color: $color-primario;
    font-family:$tipografia-general; 
    
}
UBICACION {
    text-align: $espaciado-estandar;
    background-color: $color-primario;
}

.PRODUCTOS{
    text-align: $espaciado-estandar;
    background-color: $color-primario;


}

.COMPRAR{
    margin: 20px 20px 20px 20px
    bac
}
.VIDEO{
    text-align: $espaciado-estandar;
    background-color: $color-primario;
}

.contenedorImgbanner{
    width: 100%;
    height: 50%;
}
.contenedorImgbanner img{
    width: 100%;
    height: 50vh;
    object-fit: cover;
}

.img-fluid {
    max-width: 100%;
     height: auto;

}