
$color-primario: aquamarine;
$color-secundario: blueviolet;
$color-tercerio: coral;
$espaciado-estandar: center ;
$fuente-normal : 35px ;
$fuente-pequena : 20px ;
$fuente-grande : 60px ; 
$tipografia-general: 'Poppins' , sans-serif ;

